<h1>이현봇에게 말 알려주기</h1>

<%= form_tag("/learn", method: "post") do %>
<h2>이렇게 말하면</h2>
<textarea name="ask" placeholder="이현봇에게 할 말을 적어주세요"></textarea>
<h3>이렇게 대답할 거에요</h3>
<textarea name="answer" placeholder="이현봇이 대답할 말을 적어주세요"></textarea><br>
<input type="submit" value="가르치기" onclick="return confirm('가르침당했습니다.')" /><br>
<% end %> 

<a href="/"><button>그만 가르치기</button></a>