<div style ="text-align:center">
<h1>~이현봇~</h1>
<h2>등록되지 않은 말에는 반응안함..</h2>
    <a href="/learn">
        <button>말 가르치러가기</button>
    </a><br>
</div>

    <div style="overflow:scroll; width:300px; height:300px; padding:10px;">
    <% @chats.each do |c| %>
    <% if c.chat_type == "bot" %>
    <div style="text-align:left">
    <strong>이현봇 :</strong>
    <%= c.chat_content %><br>
    </div>
    <% else %>
    <div style="text-align:right">
    <strong>너 :</strong> 
    <%= c.chat_content %><br><br>
    </div>
    <% end %>
<% end %>   
</div>

    
<%= form_tag '/talker', method: 'post' do %>
<input type="text" placeholder="이현봇에게 할 말 쓰기" name="ask">
<input type="submit" value="입력">
<% end %>